{% extends 'base.html.twig' %}

{% block body %}
    <h2>CC symfony</h2>
    <p>Pour le cc de symfony, j'ai réalisé un CRUD de la table étudiants. C'est à dire un CREATE READ UPDATE DELETE.</p>
{% endblock %}